body {
  font-family: sans-serif;
}

.wrapper {
  width: 50vw;
  height: 50vw;
}
.board {
  border: 1px solid black;
  display: grid;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
}

.cols,
.rows {
  display: grid;
}

.cols {
  grid-template-rows: 1fr;
  border: 1px solid red;
}

.rows {
  border: 1px solid green;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.innerWrapper {
  display: flex;
}
