body {
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
}

.board {
  border: 1px solid black;
  display: grid;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
}

.cols,
.rows {
  display: grid;
  text-align: center;

}

.cols {
  grid-template-columns: 70px 1fr 1fr 1fr 1fr 1fr ;
  border: 1px solid red;
}

.rows {
  border: 1px solid green;
  white-space: nowrap;
  width: 70px;
}

.first-col {
  width: 70px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.innerWrapper {
  display: flex;
}

